<!DOCTYPE html>

<html>

    <head>
        <title><%= name %></title>
        <link rel="stylesheet" type="text/css" href="../public/custom.css">
    </head>

    <body>
        <!-- The object property 'name' in the routers/index.js file now is available to be used in this HTML doc.-->
        <h1>I'm a user named <%= name %>.</h1>
        <p>I like tacos.</p>
    </body>

</html>